.video-item{
    border: 1px solid black;
    border-radius: 3px;
    margin-bottom: 15px;
    /*h3{
    }
    img{
        display: inline-block;
    }
    .info-container{
        display: inline-block;
    }*/
}