.video-item{
    border: 1px solid black;
    border-radius: 3px;
    margin-bottom: 15px;
    img{
        display: inline-block;
        width: 30%;
        vertical-align: top;
    }
    .info-container{
        display: inline-block;
        width: 65%;
        margin-left: 10px;
    }
}