<div class="video-item">
    <img ng-src="{{vm.video.user.pictures.sizes[3].link}}">
    <div class="info-container">
        <div>{{vm.video.user.name}}</div>
        <div>Author: {{vm.video.user.link}}</div>
        <div>Name: {{vm.video.name}}</div>
        <div>Link: {{vm.video.link}}</div>
        <div>Description: {{vm.video.description}}</div>
        <div>Plays: {{vm.video.stats.plays}}</label> <label>Comments: {{vm.video.metadata.connections.comments.total}}</label> <label>Likes: {{vm.video.metadata.connections.likes.total}}</label></div>
    </div>
</div>